#banner{width:100%;  background:url(../imgs/bg-metodo-min.jpg)  top center no-repeat; height:613px; margin:160px 0px 0px 0px; overflow:hidden;background-size:cover; background-position:top; position:relative;}
#banner-1{width:86px;  background:url(../imgs/icons-play-min.png) top center no-repeat; height:86px; margin:120px auto 0px auto; display:none; }
	#banner-1 a{width: 86px; height: 81px; display: block;}
		#banner-1 a span{display: none;}
#banner-2{width:593px;  background:url(../imgs/titulo-metodo-min.png) top center no-repeat; height:62px; margin:00px auto 0px auto; display:none;}
#banner-3{width:543px;  background:url(../imgs/sub-titulo-metodo-min.png) top center no-repeat; height:25px; margin:7px auto 0px auto; display:none;}
#banner-4{width:149px;  background:url(../imgs/bn-re-4-min.png) top center no-repeat; height:7px; margin:10px auto 0px auto; display:none;}
#banner-sm{margin:160px 0 0 0; min-width:320px;}
.banner-txt-small{margin-top:40px;}	

@media (max-width: 780px) {
				.banner-txt-small{margin-top:10px;}	
			}
@media (max-width: 350px) {
				.banner-txt-small{margin-top:3px;}	
			}