.bg-interna-branca{background:url(../imgs/bg-interna-branco-min.png) top center repeat-y; position:relative; padding-top:30px;}
	.bg-interna-branca-sombra{background:url(../imgs/bg-interna-branco-fundo-min.png) top center no-repeat; height:69px; position:relative;}
		