.bg-interna-branca{margin-top:-370px;}
	.bg-interna-branca p{line-height:40px; font-size:25px; color:#000; font-weight:300; text-align:justify;}
		.bg-interna-branca a{text-transform:uppercase; color:#024b96; font-size:20px; font-weight:900; margin-right:50px;}

		.lista-cabecalho{font-size:20px; font-weight:900; text-transform:uppercase; color:#024b96; letter-spacing:-0.5px;   }

	.lista-cabecalho li.li-topo-marker{width:10px; height:17px; background-color:#024b96; margin-top:14px; margin-left:5px; margin-right:-5px;  }
	
.ensino-profissionais{margin-top: 30px; }
	.item-profissional{margin: 20px auto; overflow:hidden; position: relative; min-height: 375px;}	
		.item-profissional-txt{background: url(../imgs/bg-nome-prof-min.png)  center top no-repeat; width: 240px; height: 117px; overflow: hidden; padding:30px 20px; position: absolute; right: 0px; left: -120px; bottom: 0px; margin-left: 50%; }
			.item-profissional-txt p{font-size: 15px; font-weight: 800; line-height: 15px; margin: 0px; text-align: center;  color: #024b96; line-height: 25px;}
			.item-profissional-txt span{font-size: 12px; font-weight: 400; line-height: 15px; margin: 0px; text-align: center;  color: #024b96;}
			.item-profissional-txt hr{margin: 0px; padding: 0px; color: #024b96;  }
	.ensino-projetos{margin: 40px auto; overflow: hidden;}
	.ensino-projetos-lista li{ margin: 20px auto;   }
		.ensino-projetos-lista li .linha-projeto{ background: #024b96; height: 1px; margin-top: 20px;}
		.ensino-projetos-lista li a p{font-size: 14px; font-weight: 800; margin-top: 20px; text-align: center; text-transform: uppercase; color: #024b96; height: 60px;}

		.titulo-modal{font-size: 17px; font-weight: 900; margin-top: 20px; text-align: center; text-transform: uppercase; color: #024b96;}
		.corpo-modal{line-height:25px; font-size:17px; color:#000; font-weight:400; }


@media (max-width: 980px) {
				.ensino-projetos-lista li a p{font-size: 14px; }
				.item-profissional{margin: 20px auto; overflow:hidden; position: relative; min-height: 100%;}	
				.item-profissional-txt{background:#FFF; width: 100%; height: 90px; overflow: hidden; padding:10px ; position: relative; margin: 0px; left: 0px;}
				.bg-interna-branca{margin-top:0px;}
				.bg-interna-branca p{line-height:30px; font-size:17px; color:#000; font-weight:400; text-align:justify; }
					.bg-interna-branca a{text-transform:uppercase; color:#024b96; font-size:17px; font-weight:900; margin-right:50px; }
					.ensino-projetos-lista li a p{font-size: 12px; font-weight: 800; margin-top: 20px; text-align: center; text-transform: uppercase; color: #024b96}
			}
@media (max-width: 450px) {
				.titulo-modal{font-size: 14px; font-weight: 900; margin-top: 20px; text-align: center; text-transform: uppercase; color: #024b96;}
				.banner-txt-small{margin-top:3px;}	
				.item-profissional-txt p span{font-size: 10px; line-height: 13px;}
				.item-profissional-txt p{line-height: 13px;}
				.ensino-projetos-lista li a p{font-size: 10px; font-weight: 800; margin-top: 20px; text-align: center; text-transform: uppercase; color: #024b96}
				.corpo-modal{line-height:20px; font-size:13px; color:#000; font-weight:400; }
			}